<?xml version="1.0" encoding="utf-8"?>
<LEConfig>
  <Profiles>
    <Profile Name="DemoApex.vcxproj.le.config" Guid="4e6dd6b7-d75f-4e8f-97e0-51f68f7b238c" MainMenu="false">
      <Parameter></Parameter>
      <Location>zh</Location>
      <Timezone>China Standard Time</Timezone>
      <RunAsAdmin>false</RunAsAdmin>
      <RedirectRegistry>true</RedirectRegistry>
      <IsAdvancedRedirection>false</IsAdvancedRedirection>
      <RunWithSuspend>false</RunWithSuspend>
    </Profile>
  </Profiles>
</LEConfig>