<?xml version="1.0" encoding="utf-8"?>
<LEConfig>
  <Profiles>
    <Profile Name="DemoApex.sln.le.config" Guid="9372b0ca-c322-44f2-b9ba-85ee4b6a9248" MainMenu="false">
      <Parameter></Parameter>
      <Location>zh</Location>
      <Timezone>China Standard Time</Timezone>
      <RunAsAdmin>false</RunAsAdmin>
      <RedirectRegistry>true</RedirectRegistry>
      <IsAdvancedRedirection>false</IsAdvancedRedirection>
      <RunWithSuspend>false</RunWithSuspend>
    </Profile>
  </Profiles>
</LEConfig>